<configuration>
    <appender name="STDOUT" class="ch.qos.logback.classic.AsyncAppender">
        <queueSize>10000</queueSize>
        <includeCallerData>false</includeCallerData>
        <neverBlock>true</neverBlock>

        <appender class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>%d{YYYY-MM-dd HH:mm:ss.SSS} [%-10thread] %X{requestId} %X{appKey} %-5level %-10logger{0} : %msg%n</pattern>
            </encoder>
        </appender>
    </appender>

    <root level="trace">
        <appender-ref ref="STDOUT"/>
    </root>

    <logger name="org.eclipse.jetty" level="INFO"/>
    <logger name="io.netty" level="INFO"/>
</configuration>
